IndexGame/App_WebReferences/SessionAPI/SessionAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HeartBeat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EchoString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HeartBeatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HeartBeatResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JoinGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GameCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PointType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JoinGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JoinGameResult" type="tns:GameSessionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GameSessionResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:SessionAPIResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="LoginGUID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="UserAccountID" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="GameCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PointType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserIP" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="JoinDate" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="SessionAPIResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="tns:enumResult" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="enumResult">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="InvalidKey" />
          <s:enumeration value="InvalidSession" />
          <s:enumeration value="InvalidGameCode" />
          <s:enumeration value="ERR" />
        </s:restriction>
      </s:simpleType>
      <s:element name="LeaveGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GameCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeaveGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeaveGameResult" type="tns:SessionAPIResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogoutSessionResult" type="tns:SessionAPIResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KeepSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KeepSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KeepSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSessionExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginGUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckSessionExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckSessionExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSessionParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ParamName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ParamValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSessionParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetSessionParamResult" type="tns:ParamResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ParamResult">
        <s:complexContent mixed="false">
          <s:extension base="tns:SessionAPIResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ParamName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ParamValue" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetSessionParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ParamName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSessionParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSessionParamResult" type="tns:ParamResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ParamName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ParamValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetUserParamResult" type="tns:ParamResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserParam">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ParamName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserParamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserParamResult" type="tns:ParamResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="GameSessionResult" nillable="true" type="tns:GameSessionResult" />
      <s:element name="SessionAPIResult" nillable="true" type="tns:SessionAPIResult" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="ParamResult" nillable="true" type="tns:ParamResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HeartBeatSoapIn">
    <wsdl:part name="parameters" element="tns:HeartBeat" />
  </wsdl:message>
  <wsdl:message name="HeartBeatSoapOut">
    <wsdl:part name="parameters" element="tns:HeartBeatResponse" />
  </wsdl:message>
  <wsdl:message name="JoinGameSoapIn">
    <wsdl:part name="parameters" element="tns:JoinGame" />
  </wsdl:message>
  <wsdl:message name="JoinGameSoapOut">
    <wsdl:part name="parameters" element="tns:JoinGameResponse" />
  </wsdl:message>
  <wsdl:message name="LeaveGameSoapIn">
    <wsdl:part name="parameters" element="tns:LeaveGame" />
  </wsdl:message>
  <wsdl:message name="LeaveGameSoapOut">
    <wsdl:part name="parameters" element="tns:LeaveGameResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSessionSoapIn">
    <wsdl:part name="parameters" element="tns:LogoutSession" />
  </wsdl:message>
  <wsdl:message name="LogoutSessionSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutSessionResponse" />
  </wsdl:message>
  <wsdl:message name="KeepSessionSoapIn">
    <wsdl:part name="parameters" element="tns:KeepSession" />
  </wsdl:message>
  <wsdl:message name="KeepSessionSoapOut">
    <wsdl:part name="parameters" element="tns:KeepSessionResponse" />
  </wsdl:message>
  <wsdl:message name="CheckSessionExistSoapIn">
    <wsdl:part name="parameters" element="tns:CheckSessionExist" />
  </wsdl:message>
  <wsdl:message name="CheckSessionExistSoapOut">
    <wsdl:part name="parameters" element="tns:CheckSessionExistResponse" />
  </wsdl:message>
  <wsdl:message name="SetSessionParamSoapIn">
    <wsdl:part name="parameters" element="tns:SetSessionParam" />
  </wsdl:message>
  <wsdl:message name="SetSessionParamSoapOut">
    <wsdl:part name="parameters" element="tns:SetSessionParamResponse" />
  </wsdl:message>
  <wsdl:message name="GetSessionParamSoapIn">
    <wsdl:part name="parameters" element="tns:GetSessionParam" />
  </wsdl:message>
  <wsdl:message name="GetSessionParamSoapOut">
    <wsdl:part name="parameters" element="tns:GetSessionParamResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserParamSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserParam" />
  </wsdl:message>
  <wsdl:message name="SetUserParamSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserParamResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserParamSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserParam" />
  </wsdl:message>
  <wsdl:message name="GetUserParamSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserParamResponse" />
  </wsdl:message>
  <wsdl:message name="HeartBeatHttpGetIn">
    <wsdl:part name="EchoString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HeartBeatHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="JoinGameHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginGUID" type="s:string" />
    <wsdl:part name="GameCode" type="s:string" />
    <wsdl:part name="PointType" type="s:string" />
    <wsdl:part name="UserIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="JoinGameHttpGetOut">
    <wsdl:part name="Body" element="tns:GameSessionResult" />
  </wsdl:message>
  <wsdl:message name="LeaveGameHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginGUID" type="s:string" />
    <wsdl:part name="GameCode" type="s:string" />
    <wsdl:part name="UserIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LeaveGameHttpGetOut">
    <wsdl:part name="Body" element="tns:SessionAPIResult" />
  </wsdl:message>
  <wsdl:message name="LogoutSessionHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginGUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogoutSessionHttpGetOut">
    <wsdl:part name="Body" element="tns:SessionAPIResult" />
  </wsdl:message>
  <wsdl:message name="KeepSessionHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginGUID" type="s:string" />
    <wsdl:part name="UserIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="KeepSessionHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CheckSessionExistHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginGUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckSessionExistHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SetSessionParamHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginGUID" type="s:string" />
    <wsdl:part name="ParamName" type="s:string" />
    <wsdl:part name="ParamValue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetSessionParamHttpGetOut">
    <wsdl:part name="Body" element="tns:ParamResult" />
  </wsdl:message>
  <wsdl:message name="GetSessionParamHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginGUID" type="s:string" />
    <wsdl:part name="ParamName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSessionParamHttpGetOut">
    <wsdl:part name="Body" element="tns:ParamResult" />
  </wsdl:message>
  <wsdl:message name="SetUserParamHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginAccount" type="s:string" />
    <wsdl:part name="ParamName" type="s:string" />
    <wsdl:part name="ParamValue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetUserParamHttpGetOut">
    <wsdl:part name="Body" element="tns:ParamResult" />
  </wsdl:message>
  <wsdl:message name="GetUserParamHttpGetIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginAccount" type="s:string" />
    <wsdl:part name="ParamName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserParamHttpGetOut">
    <wsdl:part name="Body" element="tns:ParamResult" />
  </wsdl:message>
  <wsdl:message name="HeartBeatHttpPostIn">
    <wsdl:part name="EchoString" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HeartBeatHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="JoinGameHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginGUID" type="s:string" />
    <wsdl:part name="GameCode" type="s:string" />
    <wsdl:part name="PointType" type="s:string" />
    <wsdl:part name="UserIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="JoinGameHttpPostOut">
    <wsdl:part name="Body" element="tns:GameSessionResult" />
  </wsdl:message>
  <wsdl:message name="LeaveGameHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginGUID" type="s:string" />
    <wsdl:part name="GameCode" type="s:string" />
    <wsdl:part name="UserIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LeaveGameHttpPostOut">
    <wsdl:part name="Body" element="tns:SessionAPIResult" />
  </wsdl:message>
  <wsdl:message name="LogoutSessionHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginGUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LogoutSessionHttpPostOut">
    <wsdl:part name="Body" element="tns:SessionAPIResult" />
  </wsdl:message>
  <wsdl:message name="KeepSessionHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginGUID" type="s:string" />
    <wsdl:part name="UserIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="KeepSessionHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="CheckSessionExistHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginGUID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckSessionExistHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SetSessionParamHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginGUID" type="s:string" />
    <wsdl:part name="ParamName" type="s:string" />
    <wsdl:part name="ParamValue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetSessionParamHttpPostOut">
    <wsdl:part name="Body" element="tns:ParamResult" />
  </wsdl:message>
  <wsdl:message name="GetSessionParamHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginGUID" type="s:string" />
    <wsdl:part name="ParamName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSessionParamHttpPostOut">
    <wsdl:part name="Body" element="tns:ParamResult" />
  </wsdl:message>
  <wsdl:message name="SetUserParamHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginAccount" type="s:string" />
    <wsdl:part name="ParamName" type="s:string" />
    <wsdl:part name="ParamValue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetUserParamHttpPostOut">
    <wsdl:part name="Body" element="tns:ParamResult" />
  </wsdl:message>
  <wsdl:message name="GetUserParamHttpPostIn">
    <wsdl:part name="Key" type="s:string" />
    <wsdl:part name="CompanyCode" type="s:string" />
    <wsdl:part name="LoginAccount" type="s:string" />
    <wsdl:part name="ParamName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserParamHttpPostOut">
    <wsdl:part name="Body" element="tns:ParamResult" />
  </wsdl:message>
  <wsdl:portType name="SessionAPISoap">
    <wsdl:operation name="HeartBeat">
      <wsdl:input message="tns:HeartBeatSoapIn" />
      <wsdl:output message="tns:HeartBeatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input message="tns:JoinGameSoapIn" />
      <wsdl:output message="tns:JoinGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <wsdl:input message="tns:LeaveGameSoapIn" />
      <wsdl:output message="tns:LeaveGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogoutSession">
      <wsdl:input message="tns:LogoutSessionSoapIn" />
      <wsdl:output message="tns:LogoutSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KeepSession">
      <wsdl:input message="tns:KeepSessionSoapIn" />
      <wsdl:output message="tns:KeepSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSessionExist">
      <wsdl:input message="tns:CheckSessionExistSoapIn" />
      <wsdl:output message="tns:CheckSessionExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSessionParam">
      <wsdl:input message="tns:SetSessionParamSoapIn" />
      <wsdl:output message="tns:SetSessionParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionParam">
      <wsdl:input message="tns:GetSessionParamSoapIn" />
      <wsdl:output message="tns:GetSessionParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserParam">
      <wsdl:input message="tns:SetUserParamSoapIn" />
      <wsdl:output message="tns:SetUserParamSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserParam">
      <wsdl:input message="tns:GetUserParamSoapIn" />
      <wsdl:output message="tns:GetUserParamSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SessionAPIHttpGet">
    <wsdl:operation name="HeartBeat">
      <wsdl:input message="tns:HeartBeatHttpGetIn" />
      <wsdl:output message="tns:HeartBeatHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input message="tns:JoinGameHttpGetIn" />
      <wsdl:output message="tns:JoinGameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <wsdl:input message="tns:LeaveGameHttpGetIn" />
      <wsdl:output message="tns:LeaveGameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LogoutSession">
      <wsdl:input message="tns:LogoutSessionHttpGetIn" />
      <wsdl:output message="tns:LogoutSessionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="KeepSession">
      <wsdl:input message="tns:KeepSessionHttpGetIn" />
      <wsdl:output message="tns:KeepSessionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSessionExist">
      <wsdl:input message="tns:CheckSessionExistHttpGetIn" />
      <wsdl:output message="tns:CheckSessionExistHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSessionParam">
      <wsdl:input message="tns:SetSessionParamHttpGetIn" />
      <wsdl:output message="tns:SetSessionParamHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionParam">
      <wsdl:input message="tns:GetSessionParamHttpGetIn" />
      <wsdl:output message="tns:GetSessionParamHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserParam">
      <wsdl:input message="tns:SetUserParamHttpGetIn" />
      <wsdl:output message="tns:SetUserParamHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserParam">
      <wsdl:input message="tns:GetUserParamHttpGetIn" />
      <wsdl:output message="tns:GetUserParamHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SessionAPIHttpPost">
    <wsdl:operation name="HeartBeat">
      <wsdl:input message="tns:HeartBeatHttpPostIn" />
      <wsdl:output message="tns:HeartBeatHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <wsdl:input message="tns:JoinGameHttpPostIn" />
      <wsdl:output message="tns:JoinGameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <wsdl:input message="tns:LeaveGameHttpPostIn" />
      <wsdl:output message="tns:LeaveGameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LogoutSession">
      <wsdl:input message="tns:LogoutSessionHttpPostIn" />
      <wsdl:output message="tns:LogoutSessionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="KeepSession">
      <wsdl:input message="tns:KeepSessionHttpPostIn" />
      <wsdl:output message="tns:KeepSessionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckSessionExist">
      <wsdl:input message="tns:CheckSessionExistHttpPostIn" />
      <wsdl:output message="tns:CheckSessionExistHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSessionParam">
      <wsdl:input message="tns:SetSessionParamHttpPostIn" />
      <wsdl:output message="tns:SetSessionParamHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionParam">
      <wsdl:input message="tns:GetSessionParamHttpPostIn" />
      <wsdl:output message="tns:GetSessionParamHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserParam">
      <wsdl:input message="tns:SetUserParamHttpPostIn" />
      <wsdl:output message="tns:SetUserParamHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserParam">
      <wsdl:input message="tns:GetUserParamHttpPostIn" />
      <wsdl:output message="tns:GetUserParamHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SessionAPISoap" type="tns:SessionAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HeartBeat">
      <soap:operation soapAction="http://tempuri.org/HeartBeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap:operation soapAction="http://tempuri.org/JoinGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <soap:operation soapAction="http://tempuri.org/LeaveGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutSession">
      <soap:operation soapAction="http://tempuri.org/LogoutSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepSession">
      <soap:operation soapAction="http://tempuri.org/KeepSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSessionExist">
      <soap:operation soapAction="http://tempuri.org/CheckSessionExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSessionParam">
      <soap:operation soapAction="http://tempuri.org/SetSessionParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionParam">
      <soap:operation soapAction="http://tempuri.org/GetSessionParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserParam">
      <soap:operation soapAction="http://tempuri.org/SetUserParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserParam">
      <soap:operation soapAction="http://tempuri.org/GetUserParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SessionAPISoap12" type="tns:SessionAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HeartBeat">
      <soap12:operation soapAction="http://tempuri.org/HeartBeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <soap12:operation soapAction="http://tempuri.org/JoinGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <soap12:operation soapAction="http://tempuri.org/LeaveGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutSession">
      <soap12:operation soapAction="http://tempuri.org/LogoutSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepSession">
      <soap12:operation soapAction="http://tempuri.org/KeepSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSessionExist">
      <soap12:operation soapAction="http://tempuri.org/CheckSessionExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSessionParam">
      <soap12:operation soapAction="http://tempuri.org/SetSessionParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionParam">
      <soap12:operation soapAction="http://tempuri.org/GetSessionParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserParam">
      <soap12:operation soapAction="http://tempuri.org/SetUserParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserParam">
      <soap12:operation soapAction="http://tempuri.org/GetUserParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SessionAPIHttpGet" type="tns:SessionAPIHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HeartBeat">
      <http:operation location="/HeartBeat" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <http:operation location="/JoinGame" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <http:operation location="/LeaveGame" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutSession">
      <http:operation location="/LogoutSession" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepSession">
      <http:operation location="/KeepSession" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSessionExist">
      <http:operation location="/CheckSessionExist" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSessionParam">
      <http:operation location="/SetSessionParam" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionParam">
      <http:operation location="/GetSessionParam" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserParam">
      <http:operation location="/SetUserParam" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserParam">
      <http:operation location="/GetUserParam" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SessionAPIHttpPost" type="tns:SessionAPIHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HeartBeat">
      <http:operation location="/HeartBeat" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinGame">
      <http:operation location="/JoinGame" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveGame">
      <http:operation location="/LeaveGame" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutSession">
      <http:operation location="/LogoutSession" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KeepSession">
      <http:operation location="/KeepSession" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSessionExist">
      <http:operation location="/CheckSessionExist" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSessionParam">
      <http:operation location="/SetSessionParam" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionParam">
      <http:operation location="/GetSessionParam" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserParam">
      <http:operation location="/SetUserParam" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserParam">
      <http:operation location="/GetUserParam" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionAPI">
    <wsdl:port name="SessionAPISoap" binding="tns:SessionAPISoap">
      <soap:address location="http://99core.dev.mts.idv.tw/API/SessionAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="SessionAPISoap12" binding="tns:SessionAPISoap12">
      <soap12:address location="http://99core.dev.mts.idv.tw/API/SessionAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="SessionAPIHttpGet" binding="tns:SessionAPIHttpGet">
      <http:address location="http://99core.dev.mts.idv.tw/API/SessionAPI.asmx" />
    </wsdl:port>
    <wsdl:port name="SessionAPIHttpPost" binding="tns:SessionAPIHttpPost">
      <http:address location="http://99core.dev.mts.idv.tw/API/SessionAPI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>